---
layout: default
title: Features
description: FusionAuth gives you the control and power you need to secure your app and manage your users quickly and efficiently.
image: fusionauth-share-image.jpg
---
<main class="page">
  <section class="clean-block dark">
    <div class="container">

      <div class="row mb-5">
        <div class="col-12 col-lg-6 text-center">
          <!-- TODO Graphic -->
        </div>
        <div class="col-12 col-lg-6">
          <h1 class="display-4 font-weight-bolder mt-3 mt-lg-6 text-center text-lg-left">Features</h1>
          <p class="h5 text-center text-lg-left">Describe the features. Bitch.</p>
        </div>
      </div>

      <style>
        .col-6 {
          border: 1px solid red;
        }
      </style>

      <div class="row">
        <div class="col-6">
          <a class="text-secondary text-uppercase" href="/features/single-tenant-data-control">
            <i class="fal fa-island-tropical fa-4x"></i>
            <div>
              <span>Data Isolation and Control</span>
            </div>
          </a>
        </div>

        <div class="col-6">
          <a class="text-secondary text-uppercase" href="/features/authentication-options">
            <i class="fal fa-key fa-4x"></i>
            <div>
              <span>Auth the way you want</span>
            </div>
          </a>
        </div>

        <div class="col-6">
          <a class="text-secondary text-uppercase" href="/features/authentication-options">
            <i class="fal fa-key fa-4x"></i>
            <div>
              <span>Auth the way you want</span>
            </div>
          </a>
        </div>

      </div>

      <div class="row2">
        <a class="row h-100 text-secondary text-center text-uppercase font-weight-bold {% if page.url== '/features/single-tenant-data-control.html' %}active{% endif %}" href="/features/single-tenant-data-control">
          <div class="mb-3 col-3">
            <i class="fal fa-island-tropical fa-4x"></i>
          </div>
          <div class="col-9">
            <span>Data Isolation and Control</span>
          </div>
        </a>
        <a class="row h-100 text-secondary text-center text-uppercase font-weight-bold {% if page.url == '/features/authentication-options.html' %}active{% endif %}" href="/features/authentication-options">
          <div class="mb-3 col-3">
            <i class="fal fa-key fa-4x"></i>
          </div>
          <div class="col-9">
            <span>Auth the way you want</span>
          </div>
        </a>
        <a class="row h-100 text-secondary text-center text-uppercase font-weight-bold {% if page.url == '/features/security-data-compliance.html' %}active{% endif %}" href="/features/security-data-compliance">
          <div class="mb-3 col-3">
            <i class="fal fa-shield-check fa-4x"></i>
          </div>
          <div class="col-9">
            <span>Security and Data Compliance</span>
          </div>
        </a>
        <a class="row h-100 text-secondary text-center text-uppercase font-weight-bold {% if page.url == '/features/password-hashing-control.html' %}active{% endif %}" href="/features/password-hashing-control">
          <div class="mb-3 col-3">
            <i class="fal fa-passport fa-4x"></i>
          </div>
          <div class="col-9">
            <span>Ultimate Password Control</span>
          </div>
        </a>
        <a class="row h-100 text-secondary text-center text-uppercase font-weight-bold {% if page.url == '/features/user-experience.html' %}active{% endif %}" href="/features/user-experience">
          <div class="mb-3 col-3">
            <i class="fal fa-clipboard-list fa-4x"></i>
          </div>
          <div class="col-9">
            <span>Complete User Experience</span>
          </div>
        </a>
        <a class="row h-100 text-secondary text-center text-uppercase font-weight-bold {% if page.url == '/features/api-built-for-developers.html' %}active{% endif %}" href="/features/api-built-for-developers">
          <div class="mb-3 col-3">
            <i class="fal fa-code fa-4x"></i>
          </div>
          <div class="col-9">
            <span>API Built for &lt;devs&gt;</span>
          </div>
        </a>
        <a class="row h-100 text-secondary text-center text-uppercase font-weight-bold {% if page.url == '/features/user-management-reporting.html' %}active{% endif %}" href="/features/user-management-reporting">
          <div class="mb-3 col-3">
            <i class="fal fa-file-chart-pie fa-4x"></i>
          </div>
          <div class="col-9">
            <span>User Management and Reporting</span>
          </div>
        </a>
      </div>


      <div class="mt-5 mb-6 text-center">Get all the details in our <a href="/documentation">documentation</a> or <a href="/contact">contact us</a> for specific questions.</div>
    </div>
  </section>
</main>
