<footer class="page-footer bg-dark-blue text-white pb-5 pt-5">
  <div class="container">
    <div class="row mb-4 text-center magic-3-col-bars">
      <div class="col-md-4 col-sm-12 p-3">
        <a href="#TODO">Features</a>
      </div>
      <div class="col-md-4 col-sm-12 p-3">
        <a href="#TODO">Upgrade</a>
      </div>
      <div class="col-md-4 col-sm-12 p-3">
        <a href="#TODO">Contact Us</a>
      </div>
      <div class="col-md-4 col-sm-12 p-3">
        <a href="#TODO">Pricing</a>
      </div>
      <div class="col-md-4 col-sm-12 p-3">
        <a href="#TODO">Download</a>
      </div>
      <div class="col-md-4 col-sm-12 p-3">
        <a href="#TODO">Whitepapers</a>
      </div>
      <div class="col-md-4 col-sm-12 p-3">
        <a href="#TODO">Docs</a>
      </div>
      <div class="col-md-4 col-sm-12 p-3">
        <a href="#TODO">Community</a>
      </div>
      <div class="col-md-4 col-sm-12 p-3">
        <a href="#TODO">Blog</a>
      </div>
    </div>
    <div class="row mb-4 ml-sm-2 mr-sm-2">
      <div class="col-sm-12 col-md-10 m-auto">

        <div class="row">
          <div class="col-sm-12 col-md-5 text-center">
            <span class="m-auto font-weight-bold text-white text-wide">SUBSCRIBE FOR UPDATES</span>
          </div>
          <div class="col-sm-12 col-md-7">
            <form action="#TODO" method="post" target="_blank" novalidate>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="email">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit" value="Subscribe" name="subscribe">SUBSCRIBE ME</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="mr-sm-0 mr-md-4 text-right mt-3">
          <span class="text-light">Also built for devs. No marketing fluff!</span>
        </div>

      </div>
    </div>
    <div class="row mb-4">
      <div class="m-auto">
        <a href="https://github.com/fusionauth" target="_blank" class="m-1"><i class="fab fa-github-alt fa-social-icons fa-2x"></i></a>
        <a href="https://twitter.com/fusionauth" target="_blank" class="m-1"><i class="fab fa-twitter fa-social-icons fa-2x"></i></a>
        <a href="https://facebook.com/fusionauth" target="_blank" class="m-1"><i class="fab fa-facebook fa-social-icons fa-2x"></i></a>
        <a href="https://www.linkedin.com/company/fusionauth/" target="_blank" class="m-1"><i class="fab fa-linkedin fa-social-icons fa-2x"></i></a>
      </div>
    </div>
    <div class="row mb-4">
      <div class="m-auto text-light">
        <a class="text-light" href="#TODO">Privacy Policy</a> | <a class="text-light" href="#TODO">License</a>
      </div>
    </div>
    <div class="row">
      <div class="m-auto font-weight-bold">
        &copy;2019 FusionAuth
      </div>
    </div>
  </div>
</footer>
