<nav class="navbar navbar-dark navbar-expand-lg p-2 sticky-top {% if page.header_color %}{{ page.header_color }}{% else %}bg-primary{% endif %}">
  {% assign url = page.url | downcase %}

  <div class="container">
    <a class="navbar-brand logo" href="/"><img src="/assets/img/FusionAuth-Logo-white-orange.svg?h=b3dd00805e806aa4c910569eff3b15fc"
                                               alt="FusionAuth Logo" width="200"></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
        class="bg-inverse navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav text-right text-lg-left">
        <li class="nav-item" role="presentation"><a class="nav-link" href="/features">Features</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/pricing">Pricing</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/docs/v1/tech/">Docs</a></li>
        <li class="nav-item dropdown" role="presentation">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Resources</a>
          <div class="dropdown-menu">
            {% for page in site.data.resources %}
            <a class="dropdown-item" href="{{ page.url }}">{{ page.name }}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item dropdown" role="presentation">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Upgrade From...</a>
          <div class="dropdown-menu">
            {% for page in site.data.upgrade %}
            <a class="dropdown-item" href="{{ page.url }}">{{ page.name }}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item d-lg-none" role="presentation"><a class="nav-link" href="/contact">Contact Us</a></li>
      </ul>
      <a class="btn btn-primary pop text-white ml-auto d-none d-lg-inline-block {% if url == '/contact.html' %}active{% endif %}" href="/contact">Contact Us</a>
    </div>
  </div>
</nav>
