<footer class="page-footer bg-dark-blue text-white pb-5 pt-5">
  <div class="container">
    <div class="row mb-4 text-center magic-3-col-bars">
      <div class="col-md-4 col-sm-12 p-3"><a href="/features/single-tenant-data-control">Features</a></div>
      <div class="col-md-4 col-sm-12 p-3"><a href="/upgrade/from-saas">Upgrade</a></div>
      <div class="col-md-4 col-sm-12 p-3"><a href="/contact">Contact Us</a></div>
      <div class="col-md-4 col-sm-12 p-3"><a href="/pricing">Pricing</a></div>
      <div class="col-md-4 col-sm-12 p-3"><a href="/download">Download</a></div>
      <div class="col-md-4 col-sm-12 p-3"><a href="#TODO">Whitepapers</a></div>
      <div class="col-md-4 col-sm-12 p-3"><a href="/docs/v1/tech/">Docs</a></div>
      <div class="col-md-4 col-sm-12 p-3"><a href="/community">Community</a></div>
      <div class="col-md-4 col-sm-12 p-3"><a href="/blog/">Blog</a></div>
    </div>

    <div class="row mb-4 ml-sm-2 mr-sm-2">
      <div class="col-sm-12 col-md-10 m-auto">

        <div class="row mt-3">
          <div class="col-sm-12 col-md-5 d-flex flex-column align-content-center">
            <span class="m-auto h5 font-weight-normal text-white text-wide text-uppercase">Subscribe for Updates</span>
          </div>
          <div class="col-sm-12 col-md-7">
            <form action="#TODO" method="post" target="_blank" novalidate>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="email">
                <div class="input-group-append pl-1">
                  <button class="btn btn-primary text-uppercase shadow" type="submit" value="Subscribe" name="subscribe">Subscribe Me</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row mt-3 mb-3">
          <div class="offset-0 offset-md-5 col-12 col-md-7 text-light text-center text-md-left">Also built for devs. No marketing fluff!</div>
        </div>

      </div>
    </div>

    <div class="row mb-4">
      <div class="m-auto">
        <a href="https://github.com/fusionauth" target="_blank" class="m-1"><i class="fab fa-github-alt fa-social-icons fa-2x"></i></a>
        <a href="https://twitter.com/fusionauth" target="_blank" class="m-1"><i class="fab fa-twitter fa-social-icons fa-2x"></i></a>
        <a href="https://facebook.com/fusionauth" target="_blank" class="m-1"><i class="fab fa-facebook fa-social-icons fa-2x"></i></a>
        <a href="https://www.linkedin.com/company/fusionauth/" target="_blank" class="m-1"><i class="fab fa-linkedin fa-social-icons fa-2x"></i></a>
      </div>
    </div>

    <div class="row mb-4">
      <div class="m-auto text-light ls-lg">
        <a class="text-light" href="/privacy-policy">
          Privacy Policy
        </a>
        |
        <a class="text-light" href="/license">
          License
        </a>
      </div>
    </div>

    <div class="row">
      <div class="m-auto ls-lg">
        &copy;2019 FusionAuth
      </div>
    </div>
  </div>
</footer>
