<section class="white">
  <div class="container">
    <header class="centered">
      <h1>Any Platform, Any Framework</h1>
      <p>Install FusionAuth anywhere and integrate with anything in minutes.</p>
    </header>
    <div class="responsive-table">
      <div class="item centered">
        <img src="/assets/img/stamps/linux.svg" alt="Linux">
        <p>Linux</p>
      </div>
      <div class="item centered">
        <img src="/assets/img/stamps/docker.svg" alt="Docker">
        <p>Docker</p>
      </div>
      <div class="item centered">
        <img src="/assets/img/stamps/macos.svg" alt="MacOS">
        <p>MacOS</p>
      </div>
      <div class="item centered">
        <img src="/assets/img/stamps/windows.svg" alt="Windows">
        <p>Windows</p>
      </div>
      <div class="item centered">
        <img src="/assets/img/stamps/bare-metal.svg" alt="Bare Metal">
        <p>Bare Metal</p>
      </div>
      <div class="item centered">
        <img src="/assets/img/stamps/java.svg" alt="Java">
        <p>JAVA</p>
      </div>
      <div class="item centered">
        <img src="/assets/img/stamps/nodejs.svg" alt="NodeJS">
        <p>NODEJS</p>
      </div>
      <div class="item centered">
        <img src="/assets/img/stamps/typescript.svg" alt="Typescript">
        <p>TYPESCRIPT</p>
      </div>
      <div class="item centered">
        <img src="/assets/img/stamps/javascript.svg" alt="JavaScript">
        <p>JAVASCRIPT</p>
      </div>
      <div class="item centered">
        <img src="/assets/img/stamps/csharp.svg" alt="CSharp">
        <p>C#</p>
      </div>
      <div class="item centered">
        <img src="/assets/img/stamps/php.svg" alt="PHP">
        <p>PHP</p>
      </div>
      <div class="item centered">
        <img src="/assets/img/stamps/ruby.svg" alt="Ruby">
        <p>Ruby</p>
      </div>
      <div class="item centered">
        <img src="/assets/img/stamps/python.svg" alt="Python">
        <p>PYTHON</p>
      </div>
      <div class="item centered">
        <img src="/assets/img/stamps/go.svg" alt="Go">
        <p>GO</p>
      </div>
      <div class="item centered">
        <img src="/assets/img/stamps/netcore.svg" alt=".Net Core">
        <p>.NET CORE</p>
      </div>
    </div>
  </div>
</section>
