---
layout: default
title: Home
description: FusionAuth is a web-scale identity (CIAM) platform. And the best part is that it's completely free.
image: fusionauth-share-image.jpg
header_dark: true
---

<main class="home">

  <section class="jumbotron jumbotron-fluid bg-secondary text-white pb-4 pt-5">
    <div class="container-fluid hero">
      <div class="row text-center">
        <div class="col-lg-12 col-xl-6">
          <img class="w-100 w-md-75 w-xl-100 shadow" src="assets/img/1.1-home-hero-main-bryan.svg">
        </div>
        <div class="col-lg-12 col-xl-6 pl-lg-5 pt-lg-5 pr-xl-6 text-xl-left">
          <h1 class="display-4 text-white">Auth for every&nbsp;app</h1>
          <p class="lead lh-4 pt-3 pb-3">FusionAuth provides authentication, authorization, and user management for any app: deploy anywhere, integrate with anything, in minutes.</p>
          <p class="lead lh-4 text-light">We got this. Go build something awesome.</p>
          <a href="/download" class="btn btn-primary btn-lg mt-4 mb-6">Get started for free</a>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-6 pt-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-12 col-md-4 d-md-flex flex-md-column mb-6 mb-md-0">
          <div class="embed-responsive embed-responsive-1by1 w-50 m-auto">
            <img class="embed-responsive-item" src="assets/img/2.0-home-section-built-for-devs.svg">
          </div>
          <h2 class="h5 mt-4 mb-3 ls-1">Built for &lt;devs&gt;</h2>
          <p class="text-dark lh-3 pl-3 pr-3">We built FusionAuth from the ground up to easily integrate with any app, language, and framework. Every feature (yes, every single one) is exposed as an API giving you complete flexibility to handle any use case.</p>
          <a href="/docs/v1/tech/" class="mt-auto font-weight-bold">Detailed Documentation</a>
        </div>
        <div class="col-sm-12 col-md-4 d-md-flex flex-md-column mb-6 mb-md-0">
          <div class="embed-responsive embed-responsive-1by1 w-50 m-auto">
            <img class="embed-responsive-item" src="assets/img/2.1-home-section-identity-solution.svg">
          </div>
          <h2 class="h5 mt-4 mb-3 ls-1">Complete identity solution</h2>
          <p class="text-dark lh-3 pl-3 pr-3">You get every feature and acronym you need: registration & login, passwordless, SSO, MFA, SAML, OIDC, OAuth, JWT, social login and more. Comply with GDPR, HIPAA, COPPA, and PCI requirements in seconds.</p>
          <a href="/features" class="mt-auto font-weight-bold">Massive Feature Dump</a>
        </div>
        <div class="col-sm-12 col-md-4 d-md-flex flex-md-column">
          <div class="embed-responsive embed-responsive-1by1 w-50 m-auto">
            <img class="embed-responsive-item" src="assets/img/2.2-home-section-works-everywhere.svg">
          </div>
          <h2 class="h5 mt-4 mb-3 ls-1">Works everywhere</h2>
          <p class="text-dark lh-3 pl-3 pr-3">FusionAuth installs on any platform, any computer, anywhere. Host it yourself or use FusionAuth Cloud, our fully managed SaaS hosting service.</p>
          <a href="/everywhere" class="mt-auto font-weight-bold">Seriously, Everywhere</a>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-5 pt-5 bg-light2">
    <div class="container text-center text-md-left">
      <h2 class="pt-5 pb-6 text-center display-4">Upgrade your auth</h2>
      <div class="row mb-3 d-md-flex flex-row-reverse">
        <div class="col-md-6 col-sm-12 pl-md-5">
          <div class="embed-responsive embed-responsive-1by1 w-50 m-auto m-md-0">
            <img class="embed-responsive-item" src="assets/img/3.0-home-upgrade-saas-solution.svg">
          </div>
        </div>
        <div class="col-md-6 col-sm-12 pt-5 pr-md-5">
          <h2>Better than Saas Solutions</h2>
          <p class="lh-3 text-dark">FusionAuth gives you all the features of SaaS platforms plus true data isolation, the ability to deploy anywhere, transparent & scale-friendly pricing, and awesome-sauce support.</p>
          <a class="font-weight-bold" href="/upgrade/from-saas">Compare FusionAuth to Saas Solutions</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6 col-sm-12 pr-md-5 pl-md-5">
          <div class="embed-responsive embed-responsive-1by1 w-50 m-auto m-md-0 float-md-right">
            <img class="embed-responsive-item" src="assets/img/3.1-home-upgrade-secure-home-grown.svg">
          </div>
        </div>
        <div class="col-md-6 col-sm-12 pt-5 pl-md-5">
          <h2>More Secure Than Home Grown</h2>
          <p class="lh-3 text-dark">Secure identity is <a href="/challenges-of-ciam">massively complex</a>. A talented dev COULD do it all, but it takes months to build, test, and maintain. Use our one-minute install and spend your resources on something that makes you money.</p>
          <a class="font-weight-bold" href="/upgrade/from-homegrown">Compare FusionAuth to Home Grown Solutions</a>
        </div>
      </div>
      <div class="row mb-3 d-md-flex flex-row-reverse">
        <div class="col-md-6 col-sm-12 pl-md-5">
          <div class="embed-responsive embed-responsive-1by1 w-50 m-auto m-md-0">
            <img class="embed-responsive-item" src="assets/img/3.2-home-upgrade-simple-open-source.svg">
          </div>
        </div>
        <div class="col-md-6 col-sm-12 pt-5 pr-md-5">
          <h2>Simpler Than Open-Source Identity</h2>
          <p class="lh-3 text-dark">With FusionAuth you get every feature with one easy install–no additional modules or configuration scripts to muck with. Plus, FusionAuth is built on modern technology, simple to deploy, and scalable to hundreds of millions of users. Just download, deploy, and integrate with our RESTful APIs. Simple.</p>
          <a class="font-weight-bold" href="/upgrade/from-open-source">Compare FusionAuth to Open-Source Identity</a>
        </div>
      </div>
      <div class="pt-5 pb-5 text-center">Or just <a href="/download">Download FusionAuth</a> and get started - no plans, registration, or credit card required.
      </div>
    </div>
  </section>

 {% include macros/everywhere.html %}

  <section class="pb-6">
    <div class="container">

      {% include macros/clients.html %}

      <div class="row mt-5">
        <a class="text-uppercase btn btn-primary btn-lg m-auto" href="/clients-partners">Clients & Partners</a>
      </div>
    </div>
  </section>

  <section class="pb-5 pt-6 bg-secondary p-5">
    <div class="container text-center">
      <h2 class="text-white h1">Download FusionAuth Now</h2>
      <h3 class="text-white h4 m-3">Use our Fast Path install and start building something awesome.</h3>
      <a class="btn btn-primary btn-lg m-4" href="/download">Get started for free</a>
      <h4 class="text-light">We got this. Go build the cool stuff.</h4>
      <img src="/assets/img/FusionAuth-Logo-white-orange.svg" alt="FusionAuth Logo" class="m-4" style="max-width: 250px">
    </div>
  </section>

  <section class="pb-6 pt-6">
    <div class="container">
      <h2 class="display-4 text-center mb-3">Papers, Guides & Resources</h2>
      <h3 class="h4 text-center mb-5">Auth is complex. We share everything we know.</h3>

      {% include macros/resources.html %}

    </div>
  </section>
</main>
