<ul class="nav fusion-pills grid-7-cols" id="features-tabs">
  <li class="nav-item">
    <a class="nav-link h-100 text-secondary text-center {% if page.url== '/features/single-tenant-data-control' %}active{% endif %}" href="/features/single-tenant-data-control">
      <div class="fusion-pill-icon mb-3">
        <img src="#TODO">
      </div>
      <span>Data Isolation and Control</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link h-100 text-secondary text-center" href="/features/authentication-options">
      <div class="fusion-pill-icon mb-3">
        <img src="#TODO">
      </div>
      <span>Auth the way you want</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link h-100 text-secondary text-center" href="/features/security-data-compliance">
      <div class="fusion-pill-icon mb-3">
        <img src="#TODO">
      </div>
      <span>Security and Data Compliance</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link h-100 text-secondary text-center" href="/features/password-hashing-control">
      <div class="fusion-pill-icon mb-3">
        <img src="#TODO">
      </div>
      <span>Ultimate Password Control</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link h-100 text-secondary text-center" href="/features/user-experience">
      <div class="fusion-pill-icon mb-3">
        <img src="#TODO">
      </div>
      <span>Complete User Experience</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link h-100 text-secondary text-center" href="/features/api-built-for-developers">
      <div class="fusion-pill-icon mb-3">
        <img src="#TODO">
      </div>
      <span>API Built for &lt;devs&gt;</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link h-100 text-secondary text-center" href="/features/user-management-reporting">
      <div class="fusion-pill-icon mb-3">
        <img src="#TODO">
      </div>
      <span>User&nbsp;Management and Reporting</span>
    </a>
  </li>
</ul>
