<section class="pb-6 pt-6">
  <div class="container">
    <h2 class="display-4 text-center mb-4">Every Platform, Every Framework</h2>
    <h3 class="h4 text-center text-wide mb-4">Install FusionAuth anywhere and integrate everywhere in minutes.</h3>

    <!-- Platforms -->
    <div class="icon-row mb-4">
      <div>
        <div class="embed-responsive embed-responsive-1by1 overflow-visible">
          <img class="embed-responsive-item shadow" src="assets/img/4.0-home-integrate-docker.svg">
        </div>
        <span>DOCKER</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1 overflow-visible">
          <img class="embed-responsive-item shadow" src="assets/img/4.1-home-integrate-linux.svg">
        </div>
        <span>LINUX</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1 overflow-visible">
          <img class="embed-responsive-item shadow" src="assets/img/4.2-home-integrate-mac-os.svg">
        </div>
        <span>MAC OS</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1 overflow-visible">
          <img class="embed-responsive-item shadow" src="assets/img/4.3-home-integrate-windows.svg">
        </div>
        <span>WINDOWS</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1 overflow-visible">
          <img class="embed-responsive-item shadow pt-3 pb-3" src="assets/img/4.3-home-integrate-baremetal.svg">
        </div>
        <span>BARE METAL</span>
      </div>
    </div>

    <!-- Languages -->
    <div class="icon-row">
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <img class="embed-responsive-item" src="assets/img/4.4-home-integrate-java.svg">
        </div>
        <span>JAVA</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <img class="embed-responsive-item" src="assets/img/4.5-home-integrate-node-js.svg">
        </div>
        <span>NODE.JS</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <img class="embed-responsive-item" src="assets/img/4.6-home-integrate-typescript.svg">
        </div>
        <span>TYPESCRIPT</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <img class="embed-responsive-item" src="assets/img/4.7-home-integrate-javascript.svg">
        </div>
        <span>JAVASCRIPT</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <img class="embed-responsive-item" src="assets/img/4.7-home-integrate-c.svg">
        </div>
        <span>C#</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <img class="embed-responsive-item" src="assets/img/4.8-home-integrate-php.svg">
        </div>
        <span>PHP</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <img class="embed-responsive-item" src="assets/img/4.9-home-integrate-ruby-on-rails.svg">
        </div>
        <span>RUBY</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <img class="embed-responsive-item" src="assets/img/4.9.1-home-integrate-python.svg">
        </div>
        <span>PYTHON</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <img class="embed-responsive-item" src="assets/img/4.7-home-integrate-go.svg">
        </div>
        <span>GO</span>
      </div>
      <div>
        <div class="embed-responsive embed-responsive-1by1">
          <img class="embed-responsive-item" src="assets/img/4.7-home-integrate-net.svg">
        </div>
        <span>.NET CORE</span>
      </div>
    </div>
  </div>
</section>