<footer class="page-footer bg-dark-blue text-white pb-5 pt-5">
  <div class="container">
    <div class="row mb-4 text-center">
      <div class="col-md-4 p-3">
        <a href="/docs/v1/tech/">Documentation</a>
      </div>
      <div class="col-md-4 p-3">
        <a href="/privacy-policy">Privacy Policy</a>
      </div>
      <div class="col-md-4 p-3">
        <a href="https://github.com/FusionAuth" target="_blank">GitHub</a>
      </div>
      <div class="col-md-4 p-3">
        <a href="/blog/">Blog</a>
      </div>
      <div class="col-md-4 p-3">
        <a href="/contact">Contact Us</a>
      </div>
    </div>
    <div class="row mb-4">
      <div class="w-md-75 m-auto">

        <div class="row">
          <div class="col-sm-12 col-md-4 d-flex flex-column align-content-center">
            <h5 class="m-auto">Subscribe for updates</h5>
          </div>
          <div class="col-sm-12 col-md-8">
            <form action="#TODO" method="post" target="_blank" novalidate>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="email">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit" value="Subscribe" name="subscribe">SUBSCRIBE ME</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="mr-sm-0 mr-md-4 text-right">
          <span class="text-dark">Also built for devs. No marketing fluff!</span>
        </div>

      </div>
    </div>
    <div class="row mb-4">
      <div class="m-auto">
        <a href="https://github.com/fusionauth" target="_blank" class="m-1"><i class="fab fa-github-alt fa-social-icons fa-3x"></i></a><a
          href="https://twitter.com/fusionauth" target="_blank" class="m-1"><i class="fab fa-twitter fa-social-icons fa-3x"></i></a><a
          href="https://facebook.com/fusionauth" target="_blank" class="m-1"><i class="fab fa-facebook fa-social-icons fa-3x"></i></a><a
          href="https://www.linkedin.com/company/fusionauth/" target="_blank" class="m-1"><i
          class="fab fa-linkedin fa-social-icons fa-3x"></i></a>
      </div>
    </div>
    <div class="row mb-4">
      <div class="m-auto text-dark">
        <a href="#TODO">Privacy Policy</a> | <a href="#TODO">License</a>
      </div>
    </div>
    <div class="row">
      <div class="m-auto">
        &copy;2019 FusionAuth
      </div>
    </div>
  </div>
</footer>
