<div class="container">
  <div class="row">
    <div class="col">
      <div class="block-heading">
        <h2>Resources</h2>
        <p>Additional resources to help you secure your applications and learn more about FusionAuth and identity management.</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 col-xl-4 mb-3"><a class="d-block position-relative text-center no-hover m-auto mw-100"
                                                    href="/articles/logins/types-of-logins-authentication-workflows"
                                                    style="width: 323px;"><img src="/assets/img/articles/login-types-home-tile.jpg"
                                                                               class="mw-100">
      <div class="bg-white pt-4 pb-4">
        <h4 class="mb-3 text-body">Types of Logins and<br>Authentication Workflows</h4>
        <button class="btn btn-primary" type="button">Read</button>
      </div>
    </a></div>
    <div class="col-md-6 col-lg-5 col-xl-4 mb-3"><a class="d-block position-relative text-center no-hover m-auto mw-100"
                                                    href="/resources/guide-to-user-data-security" style="width: 323px;"><img
        src="/assets/img/guide-tile.jpg?h=4813d69fafd874caa4152b038103a451" class="mw-100">
      <div class="bg-white pt-4 pb-4">
        <h4 class="mb-3 text-body">Guide to User <br>Data Security</h4>
        <button class="btn btn-primary" type="button">Read</button>
      </div>
    </a></div>
    <div class="col-md-6 col-lg-5 col-xl-4 mb-3"><a class="d-block position-relative text-center no-hover m-auto mw-100"
                                                    href="/blog/2019/04/11/password-security-compliance-checklist"
                                                    style="width: 323px;"><img
        src="/assets/img/password-checklist-tile.jpg?h=f43a006484924c9960404bd9fda9cb0a" class="mw-100">
      <div class="bg-white pt-4 pb-4">
        <h4 class="mb-3 text-body">Password Security <br>Compliance Checklist</h4>
        <button class="btn btn-primary" type="button">Read</button>
      </div>
    </a></div>
    <div class="col-md-6 col-lg-5 col-xl-4 mb-3"><a class="d-block position-relative text-center no-hover m-auto mw-100"
                                                    href="/challenges-of-ciam" style="width: 323px;"><img
        src="/assets/img/challenges-of-ciam-tile.jpg?h=d71cc2dacdd8406838e6320d52515789" class="mw-100">
      <div class="bg-white pt-4 pb-4">
        <h4 class="mb-3 text-body">Challenges of CIAM<br><br>
        </h4>
        <button class="btn btn-primary" type="button">Read</button>
      </div>
    </a></div>
    <div class="col-md-6 col-lg-5 col-xl-4 mb-3"><a class="d-block position-relative text-center no-hover m-auto mw-100"
                                                    href="/blog/2018/12/03/single-tenant-vs-multi-tenant" style="width: 323px;"><img
        src="/assets/img/single-multi-tenant-tile.jpg?h=94f5381651b40e4866a2388f5c94c6ad" class="mw-100">
      <div class="bg-white pt-4 pb-4">
        <h4 class="mb-3 text-body">Single vs. Multi-Tenant Whitepaper</h4>
        <button class="btn btn-primary" type="button">Read</button>
      </div>
    </a></div>
    <div class="col-md-6 col-lg-5 col-xl-4 mb-3"><a class="d-block position-relative text-center no-hover m-auto mw-100"
                                                    href="/blog/2019/01/29/white-paper-developers-guide-gdpr" style="width: 323px;"><img
        src="/assets/img/gdpr-home-tile.jpg?h=f9db909d81628816351d8583bd976497">
      <div class="bg-white pt-4 pb-4">
        <h4 class="mb-3 text-body">Developers Guide to <br>GDPR</h4>
        <button class="btn btn-primary" type="button">Read</button>
      </div>
    </a></div>
    <div class="col-md-6 col-lg-5 col-xl-4 mb-3"><a class="d-block position-relative text-center no-hover m-auto mw-100"
                                                    href="/blog/2019/07/30/datastax-switch-fusionauth-case-study" style="width: 323px;"><img
        src="/assets/img/datastax-tile.jpg?h=fad1a528feea7826e82f93faf72e1be3">
      <div class="bg-white pt-4 pb-4">
        <h4 class="mb-3 text-body">DataStax Case Study<br><br>
        </h4>
        <button class="btn btn-primary" type="button">Read</button>
      </div>
    </a></div>
  </div>
</div>