<div class="container">
  <div class="block-heading">
    <h2 class="text-info">Developers using FusionAuth</h2>
    <p>Companies whose developers selected FusionAuth for their applications.</p>
  </div>
  <div class="row justify-content-center align-items-center customer-logos">
    <div class="col-auto"><img src="/assets/img/deutsche-bank-logo.png?h=5e9d84b692aa6cda5e0ac0214dbb56ce"></div>
    <div class="col-auto"><img src="/assets/img/roche_blue.png?h=45be1f538cb3f8b38271bb0fbfb1cae3" class="lighter"></div>
    <div class="col-auto"><img src="/assets/img/ibm-logo-black-and-white.png?h=e08179b455c0419493bd06a7ee365931"></div>
  </div>
  <div class="row justify-content-center align-items-center customer-logos">
    <div class="col-auto"><img src="/assets/img/GBM-logo.png?h=ff4d8ee0cca993579e373fa5a45615bc" class="lighter"></div>
    <div class="col-auto"><img src="/assets/img/datastax_white_blue.png?h=3558507d477fcddf6a321aae19881635" class="lighter"></div>
    <div class="col-auto"><img src="/assets/img/Kidnected-logo.png?h=2ca16339ee1bfeb1d1641954b7580a02"></div>
    <div class="col-auto"><img src="/assets/img/gameFI-Logo.png?h=ef309dd5bf154a9470d3f6bed15a2b4b"></div>
  </div>
</div>
