
$fusion-go-round-card-width: 190px !default;
$fusion-go-round-card-width-wide: 350px !default;
$fusion-go-round-car-padding: ((map-get($container-max-widths, xl) - $grid-gutter-width - ($fusion-go-round-visible-padding-x * 2)) / 5 - $fusion-go-round-card-width) / 2 !default;
$fusion-go-round-car-padding-wide: ((map-get($container-max-widths, xl) - $grid-gutter-width - ($fusion-go-round-visible-padding-x * 2)) / 3 - $fusion-go-round-card-width-wide) / 2 !default;

.fusion-go-round {
  position: relative;
  width: 100%;

  .fusion-go-round-platform {
    align-content: stretch;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    padding: $fusion-go-round-visible-padding-y $fusion-go-round-visible-padding-x;

    .fusion-go-round-car {
      flex: 0 0 auto;
      padding: 0 $fusion-go-round-car-padding;
      width: $fusion-go-round-card-width + $fusion-go-round-car-padding * 2;

      &.wide {
        padding: 0 $fusion-go-round-car-padding-wide;
        width: $fusion-go-round-card-width-wide + $fusion-go-round-car-padding-wide * 2;
      }
    }
  }

  .fusion-go-round-left {
    left: -35px;
  }

  .fusion-go-round-right {
    right: -35px;
  }

  .fusion-go-round-left, .fusion-go-round-right {
    position: absolute;
    top: 50%;

    &:hover {
      i {
        &:before {
          opacity: 1;
        }
      }
    }

    i {
      background-color: white;
      box-shadow: $box-shadow;
      border: 25px solid white;
      border-radius: 50%;
      color: black;
      margin-top: -60%;
      vertical-align: middle;

      &:before {
        opacity: 0.6;
        transition: opacity 0.2s ease-out;
      }
    }
  }
}

.fusion-go-round-card {
  @extend .card;

  align-items: stretch;
  border: 0;
  border-radius: $fusion-go-round-card-border-radius;
  height: 100%;
  max-width: 100%;
  width: $fusion-go-round-card-width;

  &.wide {
    width: $fusion-go-round-card-width-wide;
  }

  .card-img-top {
    border-top-left-radius: $fusion-go-round-card-border-radius;
    border-top-right-radius: $fusion-go-round-card-border-radius;
    height: 180px;
    width: 100%;
  }

  .card-text-bottom {
    border-bottom-left-radius: $fusion-go-round-card-border-radius;
    border-bottom-right-radius: $fusion-go-round-card-border-radius;
    border-top: 1px solid $light;
    font-size: .9rem;
    height: 74px;
    overflow: hidden;
    width: 100%;
  }
}
