
.fusion-pills {
  box-shadow: 0 4px 5px -3px black;

  .nav-link {
    border-bottom: 10px solid transparent;

    &:hover {
      border-bottom-color: $light;
    }

    &.active {
      border-bottom-color: $primary;
    }
  }
}

