<div class="container">
  <div class="block-heading">
    <h2 class="text-info">Features</h2>
    <p>Here are just a few of the awesome features you get for free with FusionAuth.</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5 feature-box">
      <i class="la la-building icon"></i>
      <h4>On-Premises or Private Cloud</h4>
      <p>FusionAuth is designed to give businesses complete control over where their data resides, and easily installs in dev, staging,
        or production.</p>
    </div>
    <div class="col-md-5 feature-box">
      <i class="la la-shield icon"></i>
      <h4>Always Single-Tenant</h4>
      <p>Unlike mass-market solutions, FusionAuth is always single-tenant, protecting your data from unwanted access by any other
        businesses or hackers.</p>
    </div>
    <div class="col-md-5 feature-box">
      <i class="la la-users icon"></i>
      <h4>Complete User Management</h4>
      <p>FusionAuth lets you manage individual and groups of users with role-based access control, search and segmentation, and
        reward/discipline tools.</p>
    </div>
    <div class="col-md-5 feature-box">
      <i class="la la-object-ungroup icon"></i>
      <h4>Multi-Platform Deployment</h4>
      <p>FusionAuth deploys on any operating system and can connect with systems on any platform, making it the only auth  you need to
        know.</p>
    </div>
    <div class="col-md-5 feature-box">
      <i class="la la-rss icon"></i>
      <h4>JSON REST API</h4>
      <p>Our powerful JSON REST API provides access to all FusionAuth's features and functions. Developers can easily build a custom
        system to fit your needs.</p>
    </div>
    <div class="col-md-5 feature-box">
      <i class="la la-user-plus icon"></i>
      <h4>Passwordless Login, MFA, SSO</h4>
      <p>Out of the box, FusionAuth provides today's most trusted tools for secure customer identity and authorization management.</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div><a class="btn btn-primary btn-lg" role="button" href="/features">View All Features</a></div>
  </div>
</div>