<div class="container">
  <div class="row">
    <div class="col">
      <div class="block-heading">
        <h2>Client libraries</h2>
        <p>Get up and running in minutes with client libraries for these platforms.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-lg-8 col-xl-12 offset-md-1 offset-lg-2 offset-xl-0">
      <div class="row justify-content-center">
        <div class="client-lib-icons">
          <a href="/docs/v1/tech/client-libraries/java"><img class="img-fluid shadow"
                                                             src="/assets/img/Client-Library-java.svg?h=e17b44816c4a6e044124e46ed51da6e4"></a>
          <p class="text-center">Java</p>
        </div>
        <div class="client-lib-icons">
          <a href="/docs/v1/tech/client-libraries/node"><img class="img-fluid shadow"
                                                             src="/assets/img/Client-Library-node.svg?h=f95d69483756face64bd0bf0bfe5afd4"></a>
          <p class="text-center">Node.js</p>
        </div>
        <div class="client-lib-icons">
          <a href="/docs/v1/tech/client-libraries/typescript"><img class="img-fluid shadow"
                                                                   src="/assets/img/Client-Library-typescript.svg?h=b99b7609964443a4678598aa7b4ecb6b"
                                                                   style="background-color: #FFF;"></a>
          <p class="text-center">Typescript</p>
        </div>
        <div class="client-lib-icons">
          <a href="/docs/v1/tech/client-libraries/javascript"><img class="img-fluid shadow"
                                                                   src="/assets/img/Client-Library-javascript.svg?h=a9cf36ec653581167d401c2976eb3906"></a>
          <p class="text-center">Javascript</p>
        </div>
        <div class="client-lib-icons">
          <a href="/docs/v1/tech/client-libraries/php"><img class="img-fluid"
                                                            src="/assets/img/Client-Library-php.svg?h=51698d2bf3613642fb67d09f1c3352d6"></a>
          <p class="text-center">PHP</p>
        </div>
        <div class="client-lib-icons">
          <a href="/docs/v1/tech/client-libraries/ruby"><img class="img-fluid shadow"
                                                             src="/assets/img/Client-Library-ruby.svg?h=8a92c817b039f43442c471e867fe6cfa"></a>
          <p class="text-center">Ruby</p>
        </div>
        <div class="client-lib-icons">
          <a href="/docs/v1/tech/client-libraries/csharp"><img class="img-fluid shadow"
                                                               src="/assets/img/Client-Library-csharp.svg?h=766d21f1f52b44097874feca45f7ba2a"></a>
          <p class="text-center">C#</p>
        </div>
        <div class="client-lib-icons">
          <a href="/docs/v1/tech/client-libraries/python"><img class="img-fluid shadow"
                                                               src="/assets/img/Client-Library-python.svg?h=f8683eb3ddb328fb15e07a4338bf395d"
                                                               style="background-color: #2b5b84;"></a>
          <p class="text-center">Python</p>
        </div>
        <div class="client-lib-icons">
          <a href="/docs/v1/tech/client-libraries/go"><img class="img-fluid shadow"
                                                           src="/assets/img/Client-Library-go.svg?h=f8683eb3ddb328fb15e07a4338bf395d"
                                                           style="background-color:  #2dbcaf;"></a>
          <p class="text-center">Go</p>
        </div>
      </div>
    </div>
  </div>
</div>